.design-block {
  background-color: $darkBG;
  @include responsiveSize("padding-top", 130, 130);
  @include responsiveSize("padding-bottom", 130, 130);

  &__title {
    max-width: 650px;
    margin: 0 auto;
  }

  &__main-row {
    @include responsiveSize("margin-top", 70, 70);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__img {
    img {
      width: 100%;
      max-width: 594px;
      height: auto;
    }
    @include responsiveSize("margin-bottom", 30, 30);
  }

  &__adress {
    display: flex;
    justify-content: space-between;
    @include responsiveSize("margin-bottom", 15, 15);
  }

  &__adress-text {
    position: relative;
    @include responsiveSize("font-size", 14, 14);
    line-height: 13px;
    letter-spacing: 0.05em;
    color: $neutralLight;
    padding: 0px 20px 0px 20px;
    max-width: 250px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/icons/location-icon.svg") 0 0 no-repeat;
      width: 10px;
      height: 12px;
    }
  }

  &__adress-price {
    @include responsiveSize("font-size", 14, 14);
    line-height: 15px;
    letter-spacing: 0.05em;
    color: $green;
    max-width: 110px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    @include responsiveSize("font-size", 18, 18);
    line-height: 120%;
    letter-spacing: 0.02em;
    color: $white;
    @include responsiveSize("padding-bottom", 30, 30);
    border-bottom: 1px solid rgba($white, 0.5);
    @include responsiveSize("margin-bottom", 80, 80);
  }

  &__description-adress {
    padding: 0px 20px 0px 0px;
    max-width: 350px;
  }

  &__description-price {
    max-width: 200px;
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}

.design-block-left {
  display: flex;
  flex-direction: column;
  &__body {
  }
}
.design-block-right {
  display: flex;
  flex-direction: column;

  &__body {
  }
}

.content-title {
  font-weight: 500;
  @include responsiveSize("font-size", 42, 42);
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.01em;
  color: $white;
}

.btn-primary {
  a {
    font-weight: bold;
    @include responsiveSize("font-size", 14, 14);
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $white;
    border: 1px solid rgba($white, 0.5);
    border-radius: 4px;
    padding: 15px 52px 15px 52px;
  }
}
